/* vvvvvvvvvv APP SIZING & LAYOUT DESIGN vvvvvvvvvv */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  overflow-y: scroll;
}

.App {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
  -webkit-appearance: none;
  /*background-image: linear-gradient(120deg, #cc2b5e, #753a88);*/
  background-image: linear-gradient(120deg, #000428 , #004e92);
}

ul {
  list-style-type: none;
}

/* ^^^^^^^^^^ APP SIZING & LAYOUT DESIGN ^^^^^^^^^^ */

/* vvvvvvvvvv TITLE: WEATHERNAUT vvvvvvvvvv */
.title_article {
  font-size: 48px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ff7300;
  text-shadow: 0 0 2px rgb(255, 255, 255) 
}
/* ^^^^^^^^^^ TITLE: WEATHERNAUT ^^^^^^^^^^ */

/* vvvvvvvvvv SEARCHBAR & BUTTON DESIGN vvvvvvvvvv */
::placeholder {
  font-style: italic;
}

.searchbar_article form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.searchbar_article input {
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 15px gray;
  -webkit-appearance: none;
  padding: 10px;
  width: 300px;
}

.searchbar_article button {
  font-size: 16px;
  display: none;
}
/* ^^^^^^^^^^ SEARCHBAR DESIGN ^^^^^^^^^^ */

/* vvvvvvvvvv RESULTS & WEATHER CARD vvvvvvvvvv */
.results_list li {
  padding-bottom: 30px;
}

.weather_card {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.211);
  border: 2px solid #ff7300;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  /* MARGIN AUTO CENTERED THE CARD WHEN IT WAS OFFSET TO THE LEFT FOR NO REASON */
  margin:auto;
}

.city_title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 36px;
}

.city_image img {
  width: 100px;
  height: 100px;
}

.temperature {
  font-size: 60px;
}

.min_max_group {
  display: flex;
  flex-direction: row;
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.temp_min {
  padding-right: 40px;
}
.temp_max {
  padding-left: 40px;
}

.weather_description {
  font-size: 24px;
  padding-bottom: 20px;
}

.weather_card button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: none;
  padding-bottom: 30px;
  background-color: #ffffff26;
}
.weather_card button:hover {
  cursor: pointer;
}
.trash_button img {
  padding-top: 10px
}

.trash_button {
  padding-bottom: 10px;
}
/* ^^^^^^^^^^ RESULTS & WEATHER CARD ^^^^^^^^^^ */


/* MEDIA SECTION --------------------------- */
@media all and (min-width:600px) {
  .searchbar_article input {
    width: 400px;
  }

  .title_article {
    padding-top: 100px;
  }

  .temperature {
    font-size: 72px;
  }

  .min_max_group {
    font-size: 42px;
  }

  .weather_card {
    width: 350px;
  }

}


@media all and (min-width:800px) {
  .searchbar_article input {
    width: 500px;
  }

  .weather_card {
    width: 425px;
  }

  .temperature {
    font-size: 84px;
  }

  .min_max_group {
    font-size: 48px;
  }
}